/* .form-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
} */

.form {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 25en;
} 
.form-style {
  text-align: center;
  width: 100px;
}
.form-input {
  width: 150px;
}

.form .btn {
  display: block;
  margin: auto;
  margin-top: 1rem;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.form-group {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 10px;
}
.form-content {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}